/node_modules
/converage
/build
/.pnp
/.yarn/cache

.env
.idea
.pnp.js
.DS_Store
.eslintcache
.vscode/settings.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

todo
notes

react-app-env.d.ts
tsconfig.tsbuildinfo
