.page-home {
  height: 100%;

  .page-home-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #eee;

    h2 {
      color: #000;
    }
  }
}
